/*                   Глобальні стилі для всього сайту        */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/*                          Макет сайту                      */

header {
  background: radial-gradient(circle, #ccf, #5030b0);
  border-bottom: 2px solid #53f;
  color: #336;
  font-size: 22px;
  padding: 6px;
  position: fixed;
  text-align: center;
  z-index: 1000;
  width: 100%;
}

.main-container {
  background: #c3c3c9;
  padding: 110px 10px 10px 10px;
}

.nav {
  width: 100%;
  text-align: center;
}

.nav a {
  color: #325;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

.nav a:hover {
  color: #000;
  background-color: #999;
}

footer {
  background: radial-gradient(circle, #5030b0, #9990b4);
  overflow: hidden;
  width: 100%;
  text-align: center;
}

footer a {
  color: #fff;
}


img {
  border: 2px solid #325;
  width: 100%;
}

section {
  scroll-margin-top: 110px;
}

/*                  Компоненти галереї                       */

.galleries-container {
  margin: 10px auto;
  border-radius: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
}

.gallery-description {
  background: #a09ab0;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 8px;
  padding: 8px;
}

.gallery-description p {
  text-align: justify;
  text-indent: 30px;
}

.poster {
  border: 1px solid #3d3d3f;
  box-shadow: 10px 5px 5px rgb(106, 106, 227);
  padding: 3px;
  overflow: hidden;
  text-align: center;
}

.poster img {
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.poster-description {
  font-style: italic;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.poster img:hover {
  transform: scale(1.1);
}

.poster:hover .poster-description {
  transform: translateY(0);
}


summary {
  padding: 15px;
  background-color: #f7f7f7;
  cursor: pointer;
  font-weight: bold;
  list-style: none;
}

summary:hover {
  background-color: #eee;
}

summary::after {
  content: '^';
  float: right;
  transition: transform 0.3s ease;
}

/* Коли details відкритий, повертаємо стрілку вгору */
details[open] summary::after {
  transform: rotate(180deg);
}

/*                    Медіазапити (адаптивність)             */

@media (max-width: 600px) {
  header h2 {
    font-size: 18px;
  }

  section {
    scroll-margin-top: 82px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .main-container {
    padding: 82px 4px 4px 4px;
  }

  .nav a {
    font-size: 16px;
  }

  .poster-description p {
    display: none;
  }
}